@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#adadad), color-stop(120%, #707070));
  background-image: linear-gradient(90deg, #adadad 0%, #707070 120%);
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  scroll-padding-top: 78px;
}

button {
  cursor: pointer;
  border: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.background-icons {
  overflow: hidden;
}

.background-icon {
  position: absolute;
  top: 0;
  width: 300px;
  height: 300px;
  display: block;
  opacity: 0.15;
  overflow: hidden;
}

.background-icon-one {
  top: 18%;
  -webkit-animation: rotate-right 160s infinite linear;
          animation: rotate-right 160s infinite linear;
}

.background-icon-two {
  display: none;
}

.background-icon-three {
  display: none;
}

.background-icon-four {
  display: none;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  overflow: hidden;
}

.profile {
  margin: 0.5em;
}

.profile__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.profile__dynamic {
  font-size: 1.3rem;
  color: #416347;
  overflow: hidden;
}

.nav-desktop {
  display: none;
}

.nav-items {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-items .nav-item {
  position: relative;
  color: #000;
  font-size: 1.4rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin: 0.3em;
  padding: 0.2em;
}

.nav-items .nav-item:hover {
  color: #416347;
}

.nav-items .active {
  color: #416347;
}

.nav-items i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .background-icon-one {
    top: 18%;
    -webkit-animation: rotate-right 160s infinite linear;
            animation: rotate-right 160s infinite linear;
  }
  .background-icon-two {
    display: block;
    right: 5%;
    top: 44%;
    -webkit-animation: rotate-left 160s infinite linear;
            animation: rotate-left 160s infinite linear;
  }
  .background-icon-three {
    display: none;
  }
  .background-icon-four {
    display: none;
  }
  .header {
    display: none;
  }
  .container {
    position: relative;
    max-width: 580px;
    margin: 0 auto;
    height: 100vh;
    background-color: #333;
  }
  .nav-desktop {
    position: absolute;
    left: -95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-items {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 280px;
    left: 0;
    width: 80px;
    background-color: #fff;
    margin: 0.5em;
    padding: 0.7em;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  .nav-items .nav-item {
    font-size: 1.5rem;
  }
  .about {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 580px;
    height: 60vh;
    z-index: 10;
  }
}

@media (min-width: 992px) {
  .background-icon-one {
    top: 15%;
    -webkit-animation: rotate-right 160s infinite linear;
            animation: rotate-right 160s infinite linear;
  }
  .background-icon-two {
    display: block;
    right: 5%;
    top: 34%;
    -webkit-animation: rotate-left 160s infinite linear;
            animation: rotate-left 160s infinite linear;
  }
  .background-icon-three {
    display: block;
    left: 10%;
    top: 54%;
    -webkit-animation: rotate-left 160s infinite linear;
            animation: rotate-left 160s infinite linear;
  }
  .background-icon-four {
    display: block;
    right: 5%;
    top: 74%;
    -webkit-animation: rotate-right 160s infinite linear;
            animation: rotate-right 160s infinite linear;
  }
  .container {
    max-width: 720px;
  }
  .about {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about {
    width: 1000px;
  }
}
/*# sourceMappingURL=style.css.map */