@import './animation';
@import './colors';
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	background-image: linear-gradient(90deg, #adadad 0%, #707070 120%);
	overflow-x: hidden;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

a {
	text-decoration: none;
}
html {
	scroll-padding-top: 78px;
	scroll-behavior: smooth;
}
button {
	cursor: pointer;
	border: none;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.header {
	width: 100%;
	background-color: $white;
}

.nav-desktop {
	display: none;
}

.nav-items {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $white;
	width: 100%;
	height: 55px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 100;

	.nav-item {
		position: relative;
		color: #000;
		font-size: 1.4rem;
		transition: color 0.3s;
		margin: 0.3em;
		padding: 0.2em;

		&:hover {
			color: $primary-color;
		}
	}


	.nav-item-desc{
		position: relative;
		color: #000;
		font-size: 1.4rem;
		transition: color 0.3s;
		margin: 0.3em;
		padding: 0.2em;

		&:hover {
			color: $primary-color;
		}
	}

	.active {
		color: $primary-color;
	}

	i {
		display: flex;
		justify-content: center;
	}
}

.profile-section {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	height: 550px;
	margin-bottom: 1em;

	&__background {
		position: relative;
		height: 250px;
		width: 100%;
	}

	&__photo {
		position: absolute;
		top: 175px;
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
		border: 3px solid $primary-color;
	}

	&__title {
		position: relative;
		top: 80px;
		font-size: 4rem;
		font-weight: lighter;
	}

	&__dynamic {
		position: relative;
		top: 80px;
		color: $primary-color;
	}

	&__socials {
		position: relative;
		top: 100px;

		.social-item {
			margin-right: 5px;
			color: #000;
			font-size: 1.8rem;
			transition: color 0.3s;
			margin: 0.3em;
			padding: 0.2em;

			&:hover {
				color: $primary-color;
			}
		}

		&::after {
			position: absolute;
			content: '';
			margin: 3em auto;
			left: 0px;
			width: calc(100%);
			height: 1px;
			background-color: $dark-gray;
		}
	}

	&__download {
		position: relative;
		top: 130px;
		color: #000;
		transition: color 0.3s;

		i {
			margin-left: 10px;
		}
		&:hover {
			color: $primary-color;
		}
	}
}

.section-title {
	position: relative;
	font-size: 2rem;
	font-weight: 400;
	width: fit-content;
	margin-bottom: 1em;

	span {
		font-weight: 600;
		color: $primary-color;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $dark-gray;
		content: '';
	}
}

.subsection__title {
	display: flex;
	align-items: center;
	font-size: 2rem;
	font-weight: 500;

	margin-bottom: 0.7em;

	i {
		color: $primary-color;
		margin-right: 5px;
	}

	p {
		font-size: 1rem;
	}
}
.section {
	margin: 1em 0;
}
.about {
	padding: 1em;
	width: 100%;
	height: 100%;
	background-color: #fff;

	&__description {
		font-size: 1.4rem;
		font-style: italic;
		margin: 1em 0;
	}

	&-section {
		margin-top: 2em;

		&__education {
			margin-top: 2em;
		}

		&__boxes {
			.about-section__box {
				position: relative;
				.box__year {
					position: relative;
					font-size: 1.4rem;
					padding: 0.2em;
					border: 2px solid $dark-gray;
					color: $dark-gray;
				}

				.present {
					border: 2px solid $primary-color;
					color: $primary-color;
				}

				.box__title {
					color: #000;
					font-size: 1.6rem;
					margin-top: 0.3em;
				}

				.box__subtitle {
					color: $light-gray;
					font-size: 1.4rem;
				}

				.box__desc {
					margin: 0.5em 0 2em 0;
					font-size: 1.2rem;
					font-style: italic;
				}
			}
		}
	}
}

.skills {
	padding: 1em;
	width: 100%;
	height: 100%;
	background-color: #fff;

	&__boxes {
		display: flex;
		flex-wrap: wrap;
	}

	&__box {
		width: 280px;
		margin: 2em 0;
		&--item {
			margin-left: 1em;
			font-size: 1.7rem;
		}

		i {
			color: $primary-color;
			margin-right: 0.5em;
		}
	}
}

.portfolio {
	padding: 1em;
	width: 100%;
	height: 100%;
	background-color: #fff;

	&__box {
		margin: 4em 0;
	}

	&__upper {
		&--img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			max-width: 300px;
			max-height: 300px;
		}

		&--desc {
			margin: 1em 0;
			font-size: 1.3rem;
		}
	}

	&__down {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&--link {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5em;
			border-radius: 5px;
			width: 120px;
			color: $white;
			margin: 0.5em 0;

			i {
				margin-right: 5px;
			}
		}

		.github {
			background-color: #000;
			transition: background-color 0.3s;

			&:hover {
				background-color: rgb(37, 37, 37);
			}
		}

		.live {
			background-color: rgb(0, 110, 255);
			transition: background-color 0.3s;

			&:hover {
				background-color: rgb(0, 85, 196);
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';
@import './extra-large';
